#About {
    margin: 2.5rem 0.625rem 0 0.625rem;
    display: flex;
    justify-content: center;
}

.aboutWrap {
    display: grid;
    grid-gap: 1.25rem;
    width: 43.75rem;
    max-width:95%;
    grid-template-columns: auto auto;
}

.aboutMeWrap {
    max-width: 31.25rem;
}

.shortIntro {
    margin-bottom: 0.9375rem;
    text-align: justify;
    line-height: 1.75rem;
}

.mySkills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mySkills > span {
    margin: 0 0.9375rem 0.9375rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.mySkills > .eachMySkill {
    margin: 0 0.9375rem 0.9375rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    background-color: #fff2cc;
}