.study {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 0.625rem;
    height: 100%;
    transform: translatex(0%);
    transition: transform 1s ease-out;
}

.study > h1 {
    font-size: .9rem;
    font-weight: bold;
    color: #101b32;
    opacity: 0.9;
}

.studyWrap {
    width: 100%;
    height: calc(100% - 2.5rem);
    background-color: white;
    overflow-y: auto;
    padding-right: 0.625rem;
    color: #999999;

    scrollbar-width: thin !important;
}

.studyWrap h2 {
    margin-bottom: 0;
}

.studyWrap .period {
    font-size: 0.7rem;
}

.studyWrap .eachStudy {
    margin-bottom: 2rem;
}

.studyWrap::-webkit-scrollbar {
    width: 0.3125rem;
}
  
/* Track */
.studyWrap::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

/* Handle */
.studyWrap::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 1rem;
}

/* Handle on hover */
.studyWrap::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
    border-radius: 1rem;
}

.studyWrap span {
    display: block;
    line-height: var(--line-height-text);
    font-size: var(--font-size-text);
}

.studyWrap ul {
    padding-left: 1rem;
}

.studyWrap li {
    line-height: var(--line-height-text);
    font-size: var(--font-size-text);
}