.profile {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 0.625rem;
    height: 100%;
    width: 100%;
    transform: translatex(0%);
    transition: transform 1s ease-out;
    overflow: hidden;
}

.aboutPhotoBox {
    position: relative;
    width: 8rem;
    max-height: 100%;
    filter: brightness(100%);
}

.aboutPhotoBox::before,
.aboutPhotoBox::after {
    position: absolute;
    z-index: 1;
    content: "";
    width: 0;
    height: 0;
    aspect-ratio: 1 / 1;
}

/*
.aboutPhotoBox::before {
    bottom: 0;
    left: 0;
    border-bottom: 2rem solid white;
    border-right: 2rem solid transparent;
}

.aboutPhotoBox::after {
    top: 0;
    right: 0;
    border-top: 2rem solid white;
    border-left: 2rem solid transparent;
}
*/

.hello {
    position: absolute;
    top: 4rem;
    right: -3.2rem;
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    color: transparent;
    /*background: linear-gradient(-45deg, #a2c4c9, white,
    #a2c4c9, white,
    #a2c4c9); */
    /*background-color: white;*/
    background: linear-gradient(-45deg, #a2c4c9 50%, black 50%);
    background-repeat: no-repeat;
    background-clip: text;
    animation: helloSlide 8s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes helloSlide {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0% 0%;
    }
}

.myPhotoBox {
    position: relative;
    width: 100%;
    height: 100%; 
    /*overflow: hidden;*/
    border-radius: 1rem;
}

.myPhotoBox::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    /*box-shadow: 0px 0px 0px 0px var(--forStroke) inset;*/
    /*border-bottom: 2px solid var(--forStroke);*/
    z-index: -1;
}

.myPhotoBox::after {
    position: absolute;
    top: 30%;
    bottom: 0;
    right: -35%;
    content: "Hello";
    font-size: 2rem;
    font-weight: 600;
    color: transparent;
    background-size: cover;
    background: linear-gradient(-45deg, #a2c4c9 70%, black 30%);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    z-index: -1;
}

.myPhotoBox > img {
    width: 100%;
    object-fit: contain;
    filter: /*drop-shadow(2px 0 0 var(--forStroke))
            drop-shadow(0 2px 0 var(--forStroke))
            drop-shadow(-2px 0 0 var(--forStroke))
            drop-shadow(0 -2px 0 var(--forStroke))*/
            brightness(100%);
    transform: rotate(0deg);
}

.aboutOverview {
    width: 25rem;
    height: 100%;
    margin-left: 4rem;
    background-color: white;
    padding: 0.625rem;
    overflow-y: auto;

    scrollbar-width: thin !important;
}

.aboutOverview::-webkit-scrollbar {
    width: 0.3125rem;
}
  
/* Track */
.aboutOverview::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: 1rem;
}

/* Handle */
.aboutOverview::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 1rem;
}

/* Handle on hover */
.aboutOverview::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

.aboutOverview > p {
    color: #999999;
    line-height: var(--line-height-text);
    font-size: var(--font-size-text);
    text-align: justify;
}

@media screen and (max-width: 700px){
    .aboutOverview {
        padding: 0 0.3rem 0 0;
        margin-left: 2.5rem;
    }

    .aboutOverview > p {
        color: #999999;
        line-height: 1.5rem;
        text-align: left;
    }
}