.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0.625rem 1.25rem 0.625rem;
}

.contactInfoBox {
    display: flex;
    align-items: center;
    margin: 0 1.25rem 1.25rem 0;
}

.contactInfoBox:last-child {
    margin-right: 0;
}

.contactInfoBox > a {
    text-decoration: none;
    color: black;
    margin-left: 0.625rem;
}