#ContactForm {
    position: relative;
    opacity: 0;
    transition: opacity 2s linear;
    padding-bottom: 0.625rem;
}

#ContactForm::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: black;
}

#ContactForm .Title {
    color: #999999;
}

#ContactForm.visible {
    opacity: 1;
}

.formWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0.625rem 0 0.625rem;
}

#formToSubmit {
    position: relative;
    margin: 0 0.625rem 1.25rem 0.625rem;
    width: 37.5rem;
    max-width: 90%;
}

#formToSubmit > button, .loadingButton{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #6aa84f;
    color: white;
    border: none;
    width: 3.75rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
}

#formToSubmit > button:hover {
    background-color: #38761d;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.loadingButton > .loadingIcon {
    animation: rotation 2s infinite ease-in;
}

.formPart {
    margin-bottom: 1.25rem;
    width: 100%;
}

.formPart > label {
    display: block;
    margin-bottom: 0.625rem;
    color: grey;
}

.formPart > input {
    border: none;
    /*border: solid 1px grey; */
    width: 37.5rem;
    max-width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    box-sizing: border-box;
}

.formPart > label[required]::after {
    content: " *";
}

.formPart > input:focus,
.formPart > textarea:focus {
    outline: 1px solid #bcbcbc;
}

.formPart > textarea {
    width: 37.5rem;
    max-width: 100% !important;
    height: 150px !important;
    resize: none;
    overflow-y: auto;
    line-height: 1.5rem;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    box-sizing: border-box;
    border: none;
}

.messageBoxWrap {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    top: 0;
}

.messageBoxWrap.sendClick {
    display: flex;
    width: 100vw;
    height: 70vh;
    max-width: 100%;
    opacity: 0;
    transition: opacity 2s linear;
}

.boxShow {
    opacity: 1 !important;
}

.messageBoxWrap.noSend {
    opacity: 0 !important;
}

.messageBox {
    position: relative;
    display: flex;
    width: 25rem;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem;
}

.messageBox.sendSuccess {
    background-color: rgba(214, 255, 216, 0.8);
}

.messageBox.sendFail {
    background-color: rgba(250, 224, 224, 0.8);
}

.messageClose {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
}

.formBackground {
    position: absolute;
    top: -1.25rem;
    left: -1.25rem;
    right: 0;
    width: calc(100% + 2.5rem);
    height: calc(100% + 2.5rem);
    /*
    background-image: url("../images/yellow.jpg");
    background-repeat: none;
    background-size: cover;
    */

    background-color: #f5faff;;
    z-index: -1;
    border-radius: 0.625rem;
}