#introductionMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width:100% !important;
    min-height: 100vh;
    overflow: hidden;
}

#introductionMain::before
/*#introductionMain::after*/ {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*
    background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: none;
    background-size: cover;
    */
    background-size: 200% 200%;
    /*
    background-image: linear-gradient(45deg,
     black, #0d1321, #101b32, #0d1f2f,
     black, #0d1321, #101b32, #0d1f2f,
     #0d1f2f,#0d1321, #101b32, black);
     */
     /*
     background-image: linear-gradient(45deg,
     black, #0d1321, #101b32, #0d1f2f,
     black, #0d1321, #101b32, #0d1f2f,
     black, #0d1321);*/

     background-image: linear-gradient(45deg,
     black, #0d1321, #101b32, #0d1f2f, #15314a, #0d1f2f,
     black, #0d1321, #101b32, #0d1f2f, #15314a, #0d1f2f,
     black);
     animation: back 20s infinite linear; 
}

@keyframes back {
    0% {
        opacity: 1;
        background-position: left bottom;
    }
    100% {
        opacity: 1;
        background-position: right top;
    }
}

.forAnimation {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: solid 100vh transparent;
    border-bottom: solid 100vh white;
    z-index: 1;
    transform: scale(0);
    transition: transform 2s linear;
    transform-origin: bottom right;
}

.forAnimation.animate {
    /*width: 200vh;*/
    transform: scale(3);
}

.introContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.coverPhoto {
    display: flex;
    justify-content: center;
}

.coverPhoto > img {
    max-width: 400px;
}

.selfPhotoWrap {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-right: 1.875rem;
}

.selfPhotoBox, .selfPhotoShadow {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    filter: brightness(90%);
}

.selfPhotoBox {
    background-color: white;
}

/*
.selfPhotoShadow {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0.3125rem 0.3125rem 0.5rem grey;

    animation: shadowRotation 8s infinite linear;
    animation-play-state: paused;
}

@keyframes shadowRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.selfPhotoShadow:hover {
    animation-play-state: running;
    box-shadow: 0.3125rem 0.3125rem 0.5rem #e3cd89;
*/

.selfPhoto {
    width: 100%;
    object-fit: contain;
    margin-left: 0.1875rem;
}

.selfIntro {
    padding: 0.625rem 0 0 0;
    color: #999999;
}

.selfIntro span {
    display: flex;
    align-items: center;
    color: white;
}

.selfIntro h1 {
    font-size: 1.125rem;
    display: block;
}

.selfIntro h2 {
    font-size: 0.9375rem;
    opacity: 0.2;
}

.selfIntro h2:last-child {
    margin-left: 0.625rem;
}

.selfIntro h2:first-child {
    margin-right: 0.625rem;
}

.wavingHand {
    margin: 0 1rem 0 1rem;
    transform-origin: bottom center;
    animation: waving 2s infinite;
    color: white;
}

@keyframes waving {
    0% {
        transform: rotate(-40deg);
    }
    20% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}

.selfIntro p {
    text-align: center;
    font-size: 0.875rem;
}

.aboutMeMain {
    display: flex;
    justify-content: center;
}

.aboutMeWrap {
    margin: 3.125rem 0.625rem 0 0.625rem;
    padding: 0 0.625rem 0 0.625rem;
    max-width: 31.25rem;
    color: #999999;
}

.shortIntro {
    margin-bottom: 1.875rem;
    text-align: justify;
    line-height: 1.75rem;
}

.mySkills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mySkills > span {
    margin: 0 0.9375rem 0.9375rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.mySkills > .eachMySkill {
    margin: 0 0.9375rem 0.9375rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    background-color: white;
    border: 1px solid #134f5c;
    color: #134f5c;
}

.mySkills > .eachMySkill:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px){
    .coverPhoto > img {
        max-width: 50%;
    }
}