.projectMaster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 0.625rem 0 0.625rem;
}

.projectsSection {
    position:relative;
}

.projectsSection::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*
    background-image: url("https://images.pexels.com/photos/73910/mars-mars-rover-space-travel-robot-73910.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: none;
    background-size: cover;
    z-index: -1;
    */
    background-color: #0d1321;
    z-index: -1;
}

.Title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5rem 0;
    font-size: 1.25rem;
    padding-top: 3.125rem;
}

.projectsSection .Title {
    color: #999999;
}

/*
.Title::before {
    content: "<h1>";
    opacity: 0.2;
    margin-right: 0.625rem;
    font-size: 0.9375rem;
}

.Title::after {
    content: "</h1>";
    opacity: 0.2;
    margin-left: 0.625rem;
    font-size: 0.9375rem;
}
*/

.projectHighlight {
    display: flex;
    width: 100%;
    margin-left: 2rem;
    overflow-x: auto;
    margin-bottom: 2.5rem;
    scrollbar-width: thin !important;
}

.projectHighlight::-webkit-scrollbar {
    height: 0.5rem;
}
  
/* Track */
.projectHighlight::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: 1rem;
}

/* Handle */
.projectHighlight::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 1rem;
}

/* Handle on hover */
.projectHighlight::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

@media screen and (max-width: 700px){
    .projectHighlight {
        display: block;
        width: fit-content;
        max-width: 100%;
        margin: 0;
        overflow: hidden;
    }
}