.quote-box {
    display: block;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  #quote {
    display: block;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    overflow: hidden;
  }
  
  #author {
    display: block;
    float: right;
  }
  
  .quote-box .button-box {
    margin: 0 0 2rem 0;
    display: block;
  }
  
  #tweet-quote {
    margin-left: 2rem;
    font-size: 1.875rem;
    cursor: pointer;
  }
  
  #new-quote {
    float: right;
    margin-right: 3rem;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    cursor: pointer;
  }
  
  .quoteMain {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 18.75rem;
    transition: background-color 2s;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  }