.smallProjects {
    max-width: 60rem;
    width: 100%;
    margin: 0 0 1.875rem 0;
    overflow-x: hidden;
}

.smallProjectsWrap {
    transition: height 2s linear;
    overflow: hidden;
}

.smallProjectsWrap.hide {
    height: 0 !important;
    overflow: hidden;
}

.smallProjectsWrap.show ~ .showMore {
    margin-top: 0.625rem;
}

.showMore {
    display: flex;
    justify-content: center;
}

.showMoreBtn {
    border: none;
    background-color: #134f5c;
    border-radius: 0.625rem;
    width: 6.25rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
}

.showMoreBtn:hover {
    background-color: #0c343d;
}

.smallProject {
    opacity: 0;
    width: 100%;
    transition: opacity 2s ease-out;
    margin-bottom: 3.125rem;
    background-color: var(--projectBackColor);
    padding: 1rem;
    border-radius: 0.625rem;
}

/*
.smallProject:first-child {
    padding-top: 1.875rem;
}
*/

.smallProject:last-child {
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}

.smallProject.visible {
    opacity: 1;
}

/*
.smallProjectHead {
    display: flex;
    margin-bottom: 0.625rem;
    align-items: center;
}
*/

.smallProjectHead {
    display: flex;
    margin-bottom: 0.625rem;
    align-items: center;
    flex-wrap: wrap;
}

.smallProjectTitle {
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.skillsBar {
    display: flex;
    margin-left: 0.625rem;
}

/*.skillsBar > .eachSkill*/
.smallProjectHead > .eachSkill {
    margin: 0 0 0.625rem 0.625rem;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    border-radius: 0.625rem;
    font-size: 0.625rem;
    color: #134f5c;
    border: 1px solid #134f5c;
    background-color: white;
}

.smallProjectLink {
    margin-top: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: right;
}

.smallProjectLink > a {
    text-decoration: none;
}

@media screen and (max-width: 700px){

    .smallProjectLink {
        margin-top: 1.25rem;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .emptyBox {
        width: 5.625rem;
        padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    }
}

@media screen and (max-width: 400px){

    /*
    .smallProjectsWrap.show ~ .showMore {
        margin-top: 1.25rem;
    }
    */
}
