.smallProjects {
    max-width: 1000px;
    width: 100%;
    margin: 0 10px 30px 10px;
    overflow-x: hidden;
}

.smallProjectsWrap {
    transition: height 2s linear;
    overflow: hidden;
}

.smallProjectsWrap.hide {
    height: 0 !important;
    overflow: hidden;
}

.smallProjectsHeight {
    box-sizing: border-box;
}

.showMore {
    display: flex;
    justify-content: center;
}

.showMoreBtn {
    border: none;
    background-color: #134f5c;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.showMoreBtn:hover {
    background-color: #0c343d;
}

.smallProject {
    opacity: 0;
    width: 100%;
    transition: opacity 2s ease-out;
    margin-bottom: 50px;
}

/*
.smallProject:last-child {
    margin-bottom: 30px;
}
*/

.smallProject.visible {
    opacity: 1;
}

/*
.smallProjectHead {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
*/

.smallProjectHead {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.smallProjectTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.skillsBar {
    display: flex;
    margin-left: 10px;
}

/*.skillsBar > .eachSkill*/
.smallProjectHead > .eachSkill {
    margin: 0 0 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 13px;
    background-color: #cfe2f3;
}

.smallProjectLink {
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: right;
}

.smallProjectLink > a {
    text-decoration: none;
}

@media screen and (max-width: 700px){

    .smallProjectLink {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .emptyBox {
        width: 90px;
        padding: 10px 10px 10px 10px;
    }
}
