:root {
    --projectBackColor: white;
    /*--scroll-track: #134f5c;
    --scroll-thumb: #f3f6f4;
    --scroll-thumb-hover: #eeeeee;*/
    --scroll-track: #bcbcbc;
    --scroll-thumb: #134f5c;
    --scroll-thumb-hover: #0c343d;
    --font-size-text: 0.8rem;
    --line-height-text: 2rem;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 0.9rem;
}

body {
    margin: 0;
}

/*
.pageMain {
    margin: 0.5rem;
}
*/